.hello {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 113, 27);
    text-align: center;
    text-transform: uppercase;
    font-size: 14pt;
    border:rgb(45, 73, 17) 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.pic {
    border-radius: 10px;
    width: inherit;
}

.credit {
    font-size: 0.8em;
    font-style: italic;
    margin: inherit;
    margin-top: -2px;
    text-align: right;
    color: rgb(165, 165, 165);
}

.credit a {
    color: rgb(165, 165, 165);
}

#everything {
    width: 500px;
    margin: 5px;
}